html{
  height: 100%;
  background-image: url("https://cdn.wegow.com/media/venues/jones-beach-theater/jones-beach-theater-1639408085.6094036.2560x1440.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}


.upload__form__c {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

form {
  margin-top: 25px;
}

.upload-form {
  position: relative;
  top: 100px;
  border: 3px solid rgb(119, 56, 33);
  box-shadow: 5px 5px  15px orangered ;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(225,225,255, 0.7);
  font-size: 20px;
  margin: 0 auto;
  min-width: 450px;
  height: 600px;
  box-sizing: border-box;
  left: 250px;
}

#upload__title {
  position: absolute;
  top: 10px;
  font-size: 35px;
  font-weight: bold;
  font-family: serif;
  left: 35px;
}

.upload__inputs {
  display: flex;
  justify-content: center;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  font-size: 18px;
  width: 350px;
  margin-left: 16px;
  height: 40px;
  box-sizing: border-box;
  border-radius: 5px;
  border: 1px solid rgb(172, 80, 47);
  padding-left: 10px;
}

#audio__input {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 25px;
  width: 350px;
  font-size: 16px;
  background-color: white;
}


.uploadBtn {
  font-size: 16px;
  line-height: 18px;
  padding: 10px 15px;
  height: 40px;
  width: 350px;
  border-radius: 5px;
  color: white;
  font-weight: 600;
  background-color: rgb(116, 110, 165);
  margin-left: 17px;
  cursor: pointer;
}

.uploadBtn:hover {
  background-color: darkgreen;
}


.errors {
  color: rgb(138, 6, 6);
  font-weight: 600;
  margin-top: 25px;
}