#trending-tracks-title {
  text-align: center;
  font-size: 24px;
  margin-top: 15px;
  margin-bottom: 30px;
  color: black;
  font-weight: 600;
  line-height: 1.5;
}



.trending-covers-container {
  display: flex;
  flex-wrap: wrap;
  height: 535px;
  width: 1200px;
  overflow: none;
}

.trending-cover-container {
  height: 215px;
  width: 180px;
  margin-left: 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.trending-cover {
  height: 180px;
  width: 180px;
}

.trending-cover-title {
  font-size: 14px;
  text-decoration: none;
}

.trending-cover-artist {
  color: lightslategray;
  text-decoration: none;
  font-size: 12px;
}

.tr-container {
  position: relative;
  top: 20px;
  height: 515px;
  width: 1200px;
}

.tt-btn-box {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}
