#splash-footer-container {
  position: relative;
  bottom: 370px;
  border-top: 1px solid #cccccc;
  width: 1180px;
  height: 40px;
}

#splash-footer-list {
  display: flex;
}

.splash-footer-content {
  position: relative;
  cursor: pointer;
  top: 10px;
  font-size: 14px;
  color: lightgrey;
  text-decoration: none;
  margin-left: 30px;
}
