.edit-delete-button{
    margin-left:80px;
    margin-bottom: 35px;
    margin-top: -18px;
}

.delete__btn{
    font-size: 15px;
    color: black;
    font-weight: 600;
}

.edit__btn{
    font-size: 15px;
    font-weight: 600;
}

#songs-list{
    margin-top: 25px;
}