.splash-navbar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0px;
  width: 1240px;
  height: 46px;
  z-index: 1;
}

#splash-nav {
  width: fit-content;
  display: flex;
}


#splash-imgLogo {
  width: 25%;
}

#splash-logo {
  height: 46px;
  width: 184px;
  display: flex;
  position: relative;
  top: 15px;
  right: 240%;
  padding-left: 10px;
  padding-right: 10px;
}

#splash-homeBtn {
  min-width: 70px;
  display: flex;
  position: relative;
  bottom: 4px;
  right: 12px;
  font-family: sans-serif;
  font-weight: 700;
  cursor: pointer;
  text-align: center;
  font-size: 14px;
  color: whitesmoke;
  margin: 10px;
  padding: 10px;
  text-decoration: none;
}

.splash-navBtnContainer {
  background-color: transparent;
  display: inline-block;
  position: absolute;
  top: 15px;
  left: 975px;
  height: 46px;
}

.splash-nav-bar-btn {
  position: relative;
  width: 125px;
  height: 30px;
  box-sizing: border-box;

  cursor: pointer;
  text-align: center;
  font-size: 15px;
  color: whitesmoke;
}

.splash-profile-dropdown {
  list-style-type: none;
}

.splash-profile-btn {
  cursor: pointer;
  width: 50px;
  text-align: center;
  min-width: 200px;
  font-size: 20px;
  color: white;
  text-decoration: none;
  margin: 10px;
  padding: 10px;
  background-color: black;
  border-radius: 20px;
}
.splash-profile-btn:hover {
  background-color: white;
  color: black;
}
