
.splash-navbar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-image: url("https://www.traveldailynews.asia/sites/default/files/styles/large/public/2021-09/arijit_singh_set_to_perform_at_yas_island_abu_dhabi_2_resize.jpg?itok=ohTKlPf2");
    background-position: center;
    background-size: 1240px 500px;
    background-repeat: no-repeat;

    position: fixed;
    top: 0px;
    width: 100%;
    background-color:transparent;
    height: 500px;
    left:0px;
}

#splash-nav{
    display: flex;
    width: 1240px;

}

#splash-logo{
    width: 75px;
    height:50px;
    position: relative;
    cursor: pointer;
}

#splash-homeBtn {
    min-width: 70px;
    display: flex;
    position: relative;
    top: -52px;
    left:55px;
    font-family: sans-serif;
    font-weight: 600;
    cursor: pointer;
    text-align: center;
    font-size: 15px;
    color: white;
    margin: 10px;
    padding: 10px;
    text-decoration: none;
}

.splash-discover{
    text-decoration: none;
    color: white;
    background-color:transparent;
    height: 50px;
    min-width: 100px;
    text-align: center;
    position: relative;
    top: -124px;
    left: 170px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 17px;
}

#splash-github {
    text-decoration: none;
    color: white;
    background-color:transparent;
    height: 50px;
    min-width: 100px;
    text-align: center;
    position: relative;
    left: 1170px;
    top:-88px;
    cursor: pointer;
    font-size: 17px;
}


.s-login{
    text-decoration: none;
    color: white;
    border: 1px solid white;
    border-radius: 3px;
    min-width: 70px;
    height: 27px;
    top: -116px;
    text-align: center;
    position: relative;
    left: 930px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.new-account{
    text-decoration: none;
    color: white;
    border: 1px solid orchid;
    background-color: rgb(233, 71, 227);
    border-radius: 3px;
    min-width: 120px;
    height: 27px;
    top: -145px;
    text-align: center;
    position: relative;
    left: 1030px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.demo-btn{
    text-decoration: none;
    color: white;
    border: 1px solid orchid;
    background-color: rgb(233, 71, 227);
    border-radius: 3px;
    font-size: 18px;
    min-width: 150px;
    height: 35px;
    text-align: center;
    position: relative;
    left: 570px;
    top:170px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}



.search-or-upload{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 550px;
    width: 70%;
    margin-left: 15%;
    position: fixed;
}

.splash-search-bar {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    right: 10px;
}

#splash-searchInput {
    height: 50px;
    width: 600px;
    outline: none;
    border: none;
    border-radius: 4px;
    background-color: rgb(238, 235, 235);
    padding-left: 8px;
    font-size: 15px;
    transition: background 0.5s;
}

.splash-searchbtn {
    width: 15px;
    outline: 0;
    border: 0;
    background: transparent;
    height:-10px;
    border-radius: 0 5px 5px 0;
    position: absolute;
    cursor: pointer;
    right: 15px;
    color: gray;
}


#splash-uploadbtn {
    text-decoration: none;
    color: white;
    min-width: 150px;
    height: 43px;
    top: 8px;
    left: 10px;
    text-align: center;
    border: 1px solid orchid;
    background-color: rgb(233, 71, 227);
    border-radius: 3px;
    font-size: 18px;
    
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.or-text>p{
    font-size: 20px;
    font-weight:1100;
}



