.slider-container {
  height: 450px;
  width: 1240px;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  box-sizing: border-box;
  border-top: 5px solid orangered;
}

#top-splash {
  width: 1240px;
  background-color: white;
}
#bottom-splash {
  width: 1240px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.splash-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 0px;
 
}

.splash-search-box-container {
  border: none;
  display: flex;
  justify-content: center;
  line-height: 1.7;
  margin-top: 50px;
  top: 450px;
}

.trend-tracks-container {
  top: 550px;
  height: 700px;
  width: 1200px;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
}


#thanks-splash {
  font-size: 36px;
  font-weight: 100;
  text-align: center;
  color: black;
  font-weight: 600;
  position: relative;
  bottom: 315px;
  background-color: white;
  width: 1240px;
  height: 525px;
}

#thanks-content {
  position: relative;
  top: 100px;
}

#thanks-content > p {
  font-size: 24px;
  margin-top: 7px;
  position: relative;
  top: 10px;
}

#splash-signup-btn {
  cursor: pointer;
  background-color: orangered;
  color: white;
  border: none;
  font-size: 18px;
  min-width: 200px;
  height: 46px;
  margin-right: 25px;
  padding-top: 5px;
  border-radius: 5px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 30px;
  left: 525px;
}

#splash-login-container {
  display: flex;
  justify-content: space-between;
  width: 240px;
  position: relative;
  top: 55px;
  left: 510px;
}

#splash-log-txt {
  font-size: 14px;
  color: black;
  font-weight: 600px;
  margin-top: 7px;
  position: relative;
  top: 7px;
}

#splash-login-btn {
  width: 81px;
  height: 30px;
  border-radius: 3px;
  font-size: 16px;
  color: black;
  font-weight: 600;
  text-align: center;
  cursor: pointer;
}


.ReactModal__Overlay {
  opacity: 0;
  transform: translateY(-100px);
  transition: all 500ms ease-in-out;
  z-index: 15;
}

.ReactModal__Overlay--after-open { opacity: 1;
  transform: translateY(0px);
}

.ReactModal__Overlay--before-close {
  opacity: 0;
  transform: translateY(-100px);
}

.OuterModal {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.3);
  height: 100%;
  width: 100%;
  position: fixed;
  border: none;
}

.InnerModal {
  text-decoration: none;
  height: 100%;
  background: white;
  height: fit-content;
}

.InnerModal:focus {
  outline: 0;
}
