.splash-slider-container {
  color: white;
  overflow: hidden;
  background-color: white;
}

#slider1title {
 
  position: relative;
  font-weight: 600;
  bottom: 310px;
  display: flex;
  justify-content: center;
  margin-bottom: 8px;
  font-size: 40px;
  font-weight: 100;
}

#slider1text {
  font-size: 20px;
  font-weight: 600;
  max-width: 530px;
  text-align: center;
  position: relative;
  bottom: 320px;
  left: 350px;
  display: flex;
  justify-content: center;
}

.slider-img {

  display: flex;
  align-items: center;
  width: 1240px;
  height: 500px;
  transition: all;
}

#slider1btns {
  display: flex;
  justify-content: center;
  position: relative;
  bottom: 300px;
  left: 30px;
}

#slider1btn1 {
  cursor: pointer;
  background: transparent;
  color: white;
  border-color: white;
  border: 1px solid white;
  font-size: 17px;
  min-width: 164px;
  height: 33px;
  margin-right: 25px;
  padding-top: 12px;
  border-radius: 5px;
  text-align: center;
  display: flex;
  align-items: center;
  text-decoration: none;
  flex-direction: column;
}
#slider1btn2 {
  cursor: pointer;
  background-color: orangered;
  border: 1px solid orangered;
  color: white;
  font-weight: 600;
  border: none;
  font-size: 17px;
  min-width: 164px;
  height: 48px;
  margin-right: 25px;
  border-radius: 5px;
  text-align: center;
  display: flex;
  flex-direction: column;
  text-decoration: none;
  align-items: center;
  justify-content: center;
}

#slider2btn2 {
  cursor: pointer;
  background-color: orangered;
  border: 1px solid orangered;
  color: white;
  font-weight: 600;
  border: none;
  font-size: 17px;
  min-width: 194px;
  height: 36px;
  margin-right: 25px;
  padding-top: 12px;
  border-radius: 5px;
  text-align: center;
}

.slidbtns {
  align-items: center;
  cursor: pointer;
  position: relative;
  bottom: 270px;
  left: 605px;
  margin-left: 10px;
  border-radius: 100px;
  height: 18px;
  width: 18px;
  background: transparent;
  border: 1.25px solid white;
}


.slide {

  transition: all;
  max-width: 1240px;
  display: flex;
  overflow-x: none;
}

.slide-add {
  transition: all;
  transform: translateX(-100%);
  transition: transform 0.6s ease-in-out 0s;
  width: 300%;
}

.slide-add2 {
  transition: all;
  transform: translateX(100%);
  transition: transform 0.6s ease-in-out 0s;
  width: 300%;
}



#fix-please {
  position: absolute;
  top: 50px;
}

.slider2container {
  position: relative;
  bottom: 20px;
}
