#creator-pic {
  z-index: -11;
  width: 1240px;
}

#creator-splash-container {
  width: 1240px;
  height: 350px;
  position: relative;
  bottom: 315px;
}

#creator-title {
  font-size: 40px;
  font-weight: 600;
  color: white;
  position: relative;
  bottom: 460px;
  left: 300px;
}



